/* 清除默认边距 */
*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 50px;
}
.top>img{
    width: 100%;
    height: 150px;
}

/* header设置一个外边距 留出页面最上面的距离 */

.header{
    margin-top: 100px;
    height: 400px;
}

.header>img{
    width: 12%;
    height: 20%;
    float: left;
    position: relative;
  
}

/* 导航条部分 */
.nav{
    width: 70%;
    height: 70px;
    background-color: #5f9ece;
}


/* 清除a标签默认样式 */
a{
    text-decoration: none;
    color: #101111ce;
}

.nav>ul{
    /* 左外边距110px */
    margin-left: 10px;
    height: 70px;
}
.nav>ul>li{
    height: 80px;
    /* 上内边距和下内边距是 0，右内边距和左内边距是 20px */
    padding: 0 10px;
    /* background-color: red; */
    float: left;
    /* 清除小圆点 */
    list-style: none;
    margin-right: 50px;
    position: relative;
    
}

.nav>ul>li>a{
    font-size: 20px;
    color: rgb(118, 71, 120);
    line-height: 70px;
    padding: 0 1px;
}

.nav ul li:nth-child(2) a {
    font-size: 20px;
    color: #cfc92f;
  }
.nav>ul>li>a:hover{
    color: yellow;
}



* {
    box-sizing: border-box;
}
/* 搜索框 */
.search {
  width: 30%;
  height: 70px;
  padding: 10px 0;
  line-height: 45px;
  float: right;
  position: relative;
  background-color: #5f9ece;
  margin-top: -70px;
 
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  height: 45px;
  padding-left: 13px;
  border: 2px solid rgb(230, 193, 13);
  border-radius: 20px;
  background: #fff;
}

.search .btn {
  border: none;
  outline: none;
  position: absolute;
  height: 45px;
  width: 60px;
  cursor: pointer;
  background:rgb(230, 193, 13);
  border-radius: 0 20px 20px 0;
  right: 0;
  top: 0;
  text-align: center;
}
.search .btn:before {
  content: "搜索";
  font-size: 14px;
  color:#F9F0DA ;
}
.search .btn:hover {
  background-color: rgb(235, 110, 110);
}  background-color: rgb(235, 110, 110);
}



#home{
    position: absolute;
    top: 19px;
}

#homeLi{
    width: 40px;
}

hr{
    margin-top: 45px;
    color:  #5f9ece;
    border-style: dotted;
}
.title{
    text-align: center;
    font-family: "楷体";
}
.hh{
  font-family:"华文楷体";  /*设置字体*/
  width:400px;    /*设置元素宽度*/
  float: left;
  margin:10px auto;   /*设置外边距*/
  padding:30px;   /*设置内边距*/
  background:lightblue;  /*设置背景颜色*/
  font-size: 36px;  /*设置文字大小*/
  color:#5f9ece;  /*设置文字颜色*/
  text-align: center; /*设置文字居中*/
  border:1px solid #CCCCCC;  /*设置元素边框*/
  box-shadow:3px 3px 6px #999999;  /*设置边框阴影*/
  writing-mode:vertical-rl;  /*设置以垂直方式从右向左显示*/
}




/* 轮播图 */
.container{
    width: 70%;
    height: 344px;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 100px;
   
}
li{
    list-style: none;
    float: left;
}

ul img{
    width: 960px;
    height: auto;
    
}

ol{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px;
    margin-left: -50px;
    z-index: 999;

}
ol li{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid#5f9ece;
    border-radius: 50%;
    margin: 0 10px;
}


.container ul{
    /* animation自定义动画 */
    /* infinite	指定动画应该播放无限次（永远） */
    animation:Yui 6s cubic-bezier(0, 1, 0, 1) 2s infinite ;
    width: 400%;

}
@keyframes Yui{
   0% {
     transform: translateX(0px);
   }
   33% {
     transform: translateX(-960px);
   }
   66% {
     transform: translateX(-1920px);
   }
   100% {
     transform: translateX(0px);
   }
   
}
ol li {
    /* 时间要和图片保持一致，inear：动画从头到尾的速度是相同的。 */
animation:focus 6s linear infinite ;
}
ol li:nth-child(1) {
 animation-delay: 0s;
}
ol li:nth-child(2) {
 animation-delay: 2s;
}
ol li:nth-child(3) {
 animation-delay: 4s;
}
/* keyframes(关键帧)，通过@keyframes来设置关键帧动画 */
@keyframes focus {
 0% { 
   background-color: #000;
 }
 20% {
   background-color: #000;
 }
 30% {
   background-color: #fff;
 }
}

/* 猜你喜欢部分 */
.live_box {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .live_box .live_box_title {
    padding: 20px 0;
  }
  .live_box .live_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .live_box .live_content1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #3e7aa56d;
    padding-bottom: 20px;
  }
  .live_box .live_content .live_item {
    width: 32%;
    display: flex;
    background-color: #f4f4f482;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
  }
  .live_box .live_content1 .live_item {
    width: 44%;
    height: 280px;
    display: flex;
    background-color: #f4f4f482;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  
  }
  .live_box .live_content .live_item:hover {
    transition: 0.5s all;
    box-shadow: 1px 1px 10px #6b6b6b57;
  }
  .live_box .live_content .live_item img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .live_box .live_content1 .live_item video {
    width: 350px;
    height: 260px;
    border-radius: 5px;
    margin-right: 10px;
    
  }
  .live_box .live_content .hh{
    font-family:"华文楷体";  /*设置字体*/
		   width:200px;    /*设置元素宽度*/
       height: 460px;
		   margin:10px auto;   /*设置外边距*/
		   padding:10px;   /*设置内边距*/
		   background:lightblue;  /*设置背景颜色*/
		   font-size: 26px;  /*设置文字大小*/
		   color:#5f9ece;  /*设置文字颜色*/
		   text-align: center; /*设置文字居中*/
		   border:1px solid #CCCCCC;  /*设置元素边框*/
		   box-shadow:3px 3px 6px #999999;  /*设置边框阴影*/
		   writing-mode:vertical-rl;  /*设置以垂直方式从右向左显示*/
  }
  .live_box .live_content .live_item > div {
    width: 60%;
    padding: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .live_box .live_content .live_item > div div {
    color: #858787;
  }
  .live_box .live_content .live_item > div div span {
    border: 1px solid #ff3f0c;
    color: #ff3f0c;
    font-size: 12px;
    padding: 2px;
    display: block;
    width: 60px;
    text-align: center;
    margin-top: 5px;
    border-radius: 2px;
  }
  .live_box .live_content .live_item > div div:nth-child(2) {
    font-size: 20px;
    color: #ff3f0c;
  }
  .xf {
    position: fixed;
    right: 0;
    bottom: 60px;
    padding: 10px 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #6262622c;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .xf ul {
    display: flex;
    flex-direction: column;
  }
  .xf ul li {
    font-size: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition: 0.5s all;
    cursor: pointer;
    padding: 5px 10px;
  }
  .xf ul li:hover {
    background-color: #dddddd59;
  }
  .xf ul li img {
    width: 20px;
  }
  .live_box  video {
    width: 700px;
    height: 500px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 10px; */
    
  }
  /* 底部 */

.footer{
  width: 100%;
  height: 170px;
  background-color:#5f9ece;
  padding: 30px 212px;
  margin-top: 2150px;
  /* box-sizing: border-box; */
}

.footer>.footerTop{
  width: 100%;
  height: 50px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding-bottom: 30px; */
  /* border-bottom: 1px solid #efeded; */
}

.footerTop>.left{
  height: 100px;
  width: 50%;
  float: left;
  
  /* background-color: yellow; */
}

.footerTop>.left>img{
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}




.footerTop>.right{
  color: #fcfcfc;
  height: 150px;
  width: 47.33%;
  padding:10px 60px;
  box-sizing: border-box;
  float: left;
}
/* 侧边栏 */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 360px;
    background-color:  #5f9ece;
    padding: 20px 0;
    margin-top: 240px;
    
}

.slide > ul > li {
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 20px;
}

.slide > ul > li:hover {
    background-color: #ff6700;
}

.slide > ul > li > a {
    color: #fff;
    font-size: 14px;
}

.slide-list {
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding-top: 2px;
    border-left: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
}

.slide > ul > li:hover > .slide-list {
    display: block;
}

.slide-list > ul {
    width: 248px;
    float: left;
}

.slide-list li {
    width: 100%;
    height: 76px;
    padding: 20px 0 20px 18px;
    box-sizing: border-box;
}

.slide-list img {
    margin-right: 12px;
}

.slide-list span {
    font-size: 14px;
}

.slide-list li:hover span {
    color: #ff6700;
}

.slide-list1 {
    width: 744px;
}nd-color: aqua;
}



